[Desktop Entry]
Type=Application
Exec=/home/wsmith/bin/xcape
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xcape
Name=xcape
Comment[en_US]=Re-map single tap of ctrl to escape
Comment=Re-map single tap of ctrl to escape
